<script lang="ts">
</script>


<div class="main">
    <div class="container">
        <h1 class="code">O nas</h1>
        <img class="img" src="src/assets/yacht.jpg" alt="">
        <h2 class="header">ŻEGLARSTWO TO NASZA PASJA</h2>
        <br>
        <div>
            Jesteśmy niewielką rodzinną firmą prowadzoną przez ambitnych pasjonatów żeglarstwa. Zajmujemy się czarterem jachtów oraz organizowaniem rejsów po akwenie Jezioraka.
            Wszystkie nasze rejsy przygotowywane i prowadzone są przez doświadczonych sterników. Podczas rejsów dokładamy wszelkich starań aby zapewnić bezpieczną i przyjemną żeglugę dla całej załogi. Co sezon staramy się odkrywać nowe, ciekawe miejsca oraz zapewnić załodze niezapomniane atrakcje m.in. ognisko, wieczorki szantowe itp.
        </div>
        <br>
        <div>
            Organizujemy eventy żeglarskie oraz rejsy ze sternikiem jachtem żaglowym i motorowym.
            Współpracujemy z firmą oferującą szkolenia na patent żeglarza jachtowego oraz sternika motorowego zakończone egzaminem.
        </div>
    </div>
</div>

<style lang="less">
    .main{
        height: 86vh;
    }

    .container {
        margin-top: 6vh;
        width: 55vw;
        margin-left: auto;
        margin-right: auto;
        border: 2px gray solid;
        border-radius: 15px;
        padding: 10px;
        background-color: #fff;
        margin-bottom: 40vh;

        @media (max-width: 864px) {
            width: 80vw;
        }
    }

    .img{
        max-height: 300px;
        margin-bottom: 30px;
        margin-top: 10px;
        border-radius: 30px;
    }

    .code {
        font-size: 4em;
        margin: 12px;
        color: darkblue;
    }

    .msg {
        margin-left: 15px;
    }

    .msg-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
    }

    .header {
        margin-bottom: 10px;
    }
</style>