
<script lang="ts">
    import Error from "../components/Error.svelte";
    import Loader from "../components/Loader.svelte";
    import api from "../api/api";

    const _yachts = api.yacht.getAll()
</script>

{#await _yachts}
    <Loader/>
{:then yachts}
    <div class="main-container">
        <header class="yacht-header">Nasze jachty</header>
        <div class="yachts">
            {#each yachts.data as yacht}
            <div>
                <div class="yacht-name">{yacht.name}</div>
                {#if yacht.name === 'Antila 27'}
                    <a href="rent/{yacht.id}"><img src="src/assets/antila-27.jpg" alt="" class="yacht-image"></a>
                {/if}
                {#if yacht.name === 'Antila 22'}
                    <a href="rent/{yacht.id}"><img src="src/assets/Antila-22.jpg" alt="" class="yacht-image" href="rent/{yacht.id}"></a>
                {/if}
                {#if yacht.name === 'Sasanka 620'}
                    <a href="rent/{yacht.id}"><img src="src/assets/sasanka-620.jpg" alt="" class="yacht-image" href="rent/{yacht.id}"></a>
                {/if}
                <div class="price">Cena: {yacht.priceForDay} zł/dzień</div>
            </div>
            {/each}
        </div>
    </div>
{:catch error}
    <Error/>
{/await}

<style lang="less">
    .yachts{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #eeeeee;
        margin-top: 5vw;
        overflow: auto;
    }

    .main-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: #eeeeee;
        margin: 0;
        overflow: auto;
    }

    .yacht-image{
        width: 30vw;
        border-radius: 30px;
        border: 7px solid gray;
        max-height: 350px;
        margin: 25px;
        transition: 0.8s;
    }

    .yacht-header{
        font-size: 60px;
        font-style: italic;
        color: gray;
        margin-top: 32px;
        width: 30vw;
        border-bottom: 2px solid gray;
    }

    .yacht-name{
        font-size: 30px;
        font-style: italic;
        color: rgb(60, 100, 138);
        margin-top: 32px;
        width: 30vw;
        padding-bottom: 5px;
        border-bottom: 2px solid rgb(60, 100, 138);
        width: 20vw;
        margin-left: 7vw;
    }

    .yacht-image:hover{
        margin-top: 65px;
        cursor: pointer;
    }

    .price{
        font-style: italic;
        font-size: 21px;
        color: rgb(69, 12, 92);
    }
</style>