
<script lang="ts">
    import Error from "../components/Error.svelte";
    import Loader from "../components/Loader.svelte";
    import api from "../api/api";
    import RentForm from "../components/rentForm.svelte";

    export let yachtId: number;

    const _yacht = api.yacht.getById(yachtId)
</script>

<div class="main-container">
{#await _yacht}
    <Loader/>
{:then yacht}
    {#if yacht.data}
        <div class="rent-container">
            <header class="yacht-header">Rezerwacja</header>
            {#if yacht.data.name === 'Antila 27'}
                <img src="/src/assets/antila-27.jpg" alt="" class="yacht-image2">
            {/if}
            {#if yacht.data.name === 'Antila 22'}
                <img src="/src/assets/Antila-22.jpg" alt="" class="yacht-image2">
            {/if}
            {#if yacht.data.name === 'Sasanka 620'}
                <img src="/src/assets/sasanka-620.jpg" alt="" class="yacht-image2">
            {/if}
            <div class="technical-data">
                <h2>Informacje</h2>
                <div class="yacht-info1">
                    <div>Model: {yacht.data.name} </div>
                    <div>Cena za dzień: {yacht.data.priceForDay} zł</div>
                </div>
                <h2>Dane techniczne</h2>
                <div class="yacht-info">
                    <div>Długość: {yacht.data.length} m</div>
                    <div>Szerkość: {yacht.data.width} m</div>
                    <div>Ilość osób: {yacht.data.quantity} </div>
                    <div>Rok: {yacht.data.year} </div>
                </div>
            </div>
            <div class="yacht-form">
                <RentForm yachtId={yachtId}/>
            </div>
        </div>
    {/if}
{:catch error}
    <Error/>
{/await}
</div>

<style lang="less">
    .yacht-info{
        display: grid;
        border: 5px solid gray;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 20px;
        width: 100%;
        border-radius: 25px;
        margin-top: 10px;
        background-color: #fff;
        padding-top: 10px;
        height: 100px;
    }

    .yacht-info1{
        display: grid;
        border: 5px solid gray;
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;
        width: 100%;
        border-radius: 25px;
        margin-top: 10px;
        background-color: #fff;
        padding-top: 10px;
        height: 60px;
        margin-bottom: 15px;
    }

    .technical-data{
       grid-area: info;
       margin-top: 10px;

       h2{
           margin-left: 30px;
       }
    }

    .rent-container{
        display: grid;
        grid-template-columns: 530px 1fr;
        grid-template-rows: 150px 340px 100px;
        grid-template-areas: 
        "header header"
        "img form"
        "info form"
        ;
        width: 65vw;
        height: 850px;
        background-color: #eeeeee;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
        margin-top: 2%;
        margin-bottom: auto;
        border-radius: 30px;
        border: rgb(39, 145, 216) 3px solid;
        background-color: rgba(194, 194, 194, 0.74);

        @media (max-width: 1024px) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    .main-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: #eeeeee;
        margin: 0;
        overflow: auto;
    }

    .yacht-image2{
        width: 100%;
        border-radius: 30px;
        border: 7px solid gray;
        grid-area: img;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;
        max-height: 340px;
    }

    .yacht-header{
        font-size: 60px;
        font-style: italic;
        color: rgb(8, 90, 145);
        margin-top: 32px;
        width: 100%;
        grid-area: header;
    }

    .yacht-name{
        font-size: 30px;
        font-style: italic;
        color: rgb(60, 100, 138);
        margin-top: 32px;
        width: 30vw;
        padding-bottom: 5px;
        border-bottom: 2px solid rgb(60, 100, 138);
        width: 20vw;
        margin-left: 7vw;
    }

    .yacht-form{
        grid-area: form;
    }

</style>