<script lang="ts">
    import api from '../api/api';
    import Error from '../components/Error.svelte';
    import Loader from '../components/Loader.svelte';
    export let clientId: number;

    const _client = api.client.getById(clientId);
</script>

{#await _client}
    <Loader />
{:then client}
    <div class="main">
        <div class="container">
            <h1 class="code">Zarezerwowano</h1>
            {#if client.data}
                <h2 class="header">Na maila {client.data.email} wysłano potwierdzenie rezerewacji</h2>
            {/if}
        </div>
    </div>
{:catch error}
    <Error/>
{/await}

<style lang="less">
    .main{
        height: 52vh;
    }

    .container {
        margin-top: 40vh;
        width: 55vw;
        margin-left: auto;
        margin-right: auto;
        border: 2px gray solid;
        border-radius: 15px;
        padding: 10px;
        background-color: #fff;
        margin-bottom: 40vh;

        @media (max-width: 864px) {
            width: 80vw;
        }
    }

    .code {
        font-size: 4em;
        margin: 12px;
        color: darkblue;
    }

    .msg {
        margin-left: 15px;
    }

    .msg-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
    }

    .header {
        margin-bottom: 10px;
    }
</style>