<script lang="ts">
    import { createEventDispatcher } from 'svelte';

    export let code = ''
    export let msg = ''
    
    const dispatch = createEventDispatcher()

    function retry () {
        dispatch('retry')
    }
</script>

<div class="container" on:click={retry}>
    <h1 class="code">{code}</h1>
    <h2 class="header">Oh! Something went wrong</h2>
</div>

<style lang="less">
    .container {
        margin-top: 40vh;
        width: 34vw;
        margin-left: auto;
        margin-right: auto;
        border: 2px gray solid;
        border-radius: 15px;
        padding: 10px;
        background-color: #fff;
        margin-bottom: auto;

        @media (max-width: 864px) {
            width: 80vw;
        }
    }

    .code {
        font-size: 4em;
        margin: 12px;
        color: darkblue;
    }

    .msg {
        margin-left: 15px;
    }

    .msg-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
    }

    .header {
        margin-bottom: 10px;
    }
</style>
