<nav>
    <h2>Paderewski&Yachts</h2>
    <ul>
      <li><a href="/">Nasze jachty</a></li>
      <li><a href="/about">O nas</a></li>
    </ul>
</nav>


<style>
    * {
    padding: 0;
    margin: 0;
    }

    body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
    }

    nav {
        box-shadow: 30px 30px 500px black;
        display: flex;
        justify-content:space-between; 
        align-items: center;
        padding: 1rem 2rem;
        background: #bedbe7; 
        border-bottom: #586064 1px solid;
    }

    nav ul {
    display: flex;
    list-style: none; 
    }

    nav li {
    padding-left: 1rem; 
    }

    nav a {
        text-decoration: none;
        color: #0e2342;
        font-style: italic;
        font-size: 21px;
        margin-right: 10px;
    }

    /* 
    Extra small devices (phones, 600px and down) 
    */
    @media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }
    nav li {
        padding: 0.5rem 0;
    }
    } 
</style>

