<script lang="ts">
import { navigate } from "svelte-routing";

import api from "../api/api";
import Error from "./Error.svelte";
import Loader from "./Loader.svelte";

export let yachtId: number

const _yacht = api.yacht.getById(yachtId);

let price = 0;
let name = '';
let surname = '';
let email = '';
let startDate = Date.now();
let endDate = Date.now();
let isClubMember = 0;
let errorMsg = '';
const equimentToRent = [] as number [];

async function addEqupment (id: number) {
	const isEquipmentAdded = equimentToRent.find(equipmentId => equipmentId == id)

	if (!isEquipmentAdded) {
		equimentToRent.push(id);
	} else {
		const index = equimentToRent.findIndex(equipmentId => equipmentId == id)
		if (index > -1) {
			equimentToRent.splice(index, 1);
		}
	}

	await calcAllPrice();
}

async function calcAllPrice () {
	price = 0;
	price += await calculateEqupmentRentCost()
	price += await calculateYachtRentCost()
	if (isClubMember) {
		price *= 0.9
	}
}

async function calculateEqupmentRentCost() : Promise<number> {
	let cost = 0;

	const yacht = (await _yacht).data;

	if (!yacht) {
		return 0;
	}
	
	yacht.equipments.forEach(async equipment => {
		const rentedEquiment =  equimentToRent.find(equipmentId => equipment.id == equipmentId);
		if (rentedEquiment) {
			cost += equipment.price;
		}
	})

	return cost;
}

async function calculateYachtRentCost() : Promise<number> {
	let cost = 0;

	const yacht = (await api.yacht.getById(yachtId)).data;

	let difference = new Date(endDate).getTime() - new Date(startDate).getTime();
	let numberOfDays = Math.ceil(difference / (1000 * 3600 * 24));

	if (yacht) {
		cost = yacht.priceForDay * numberOfDays;
	}

	return cost;
}

async function submit () {
	try {
		let _isClubMember = isClubMember ? true : false;
		const newClient = {
			name,
			surname,
			email,
			isClubMember: _isClubMember
		}

		const client = (await api.client.add(newClient)).data;

		if (!client) {
			return;
		}

		const newRent = {
			rent_start: new Date(startDate),
			rent_end: new Date(endDate),
			yachtId: yachtId,
			clientId: client.id,
			fullPrice: price
		}

		const res = await api.rent.start(newRent);
		
		if (res.ok) {
			errorMsg = '';
			navigate(`/succes/${client.id}`);
		}
	} catch (error) {
		const err = error as any;
		errorMsg = err.error as any;
	}
}

</script>

{#await _yacht}
	<Loader/>
{:then yacht}
	<div class="booking-form">
		<form>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<span class="form-label">Imię</span>
						<input class="form-control" bind:value="{name}" type="text" placeholder="Adam" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<span class="form-label">Nazwisko</span>
						<input class="form-control" bind:value="{surname}" type="text" placeholder="Kowalski"required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<span class="form-label">Email</span>
						<input class="form-control" bind:value="{email}" type="text" placeholder="adam.kowalski@gmail.com" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<span class="form-label">Początek wynajmu</span>
						<input class="form-control" bind:value="{startDate}" type="date" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<span class="form-label">Koniec wynajmu</span>
						<input class="form-control" on:change="{async () => await calcAllPrice()}" bind:value="{endDate}"  type="date" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<h2>Wyposażenie dodatkowe</h2>
			</div>
			{#if yacht.data}
				<div class="form-group">
					<div class="form-checkbox">
						{#each yacht.data.equipments as equipment}
							<label class="checkbox-label">
								<input type="checkbox" id="roundtrip" name="flight-type" on:change="{() => addEqupment(equipment.id)}">
								<span></span>{equipment.name} <br><span class="price-label">Cena: {equipment.price} zł</span>
							</label>
						{/each}
					</div>
				</div>
			{/if}
			<div class="form-group">
				<div class="form-checkbox">
					<label class="checkbox-label">
						<input type="checkbox" bind:value="{isClubMember}" on:change="{async () => await calcAllPrice()}">
						<span></span>Jestem aktywnym członkiem klubu (10% zniżki)
					</label>
				</div>						
			</div>
			<div class="form-group">
				<span>Do zapłaty: {price} zł</span>
			</div>
			<div class="form-group">
				<span class="error">{errorMsg}</span>
			</div>
			<div class="form-btn">
				<div class="submit-btn" on:click="{submit}">Zarezerwuj</div>
			</div>
		</form>
	</div>	
{:catch error}
	<Error/>
{/await}


<style lang="less">
.submit-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.submit-btn:hover{
	background-color: rgb(16, 94, 158) !important;
}

.error{
	color: red;
}
.booking-form {
	position: relative;
	background: #fff;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 45px 25px 25px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.price-label{
	font-style: italic;
	font-size: 18px;
	color: #4fa3e3;
}

.checkbox-label{
	margin-right: 25px;
	margin-left: 25px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 65px;
	padding: 0px 15px;
	padding-top: 24px;
	color: #191a1e;
	border: 2px solid #dfe5e9;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control::placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:focus {
	background: #f9fafb;
}

.booking-form input[type="date"].form-control:invalid {
	color: #dfe5e9;
}

.booking-form .form-label {
	position: absolute;
	top: 6px;
	left: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #98c9ee;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 700;
	color: #191a1e;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #dfe5e9;
	border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #4fa3e3;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #4fa3e3;
	font-weight: 400;
	height: 65px;
	font-size: 18px;
	border: none;
	width: 100%;
	border-radius: 4px;
	text-transform: uppercase
}
</style>