<script lang="ts">
  import { Router, Route } from 'svelte-routing'
  import Navbar from './components/navbar.svelte';
  import About from './views/about.svelte';
  import Home from './views/home.svelte';
  import Rent from './views/rent.svelte';
  import Succes from './views/Succes.svelte';
  
</script>

<main>
  <Navbar/>
  <Router>
      <Route path="/" ><Home /></Route>
      <Route path="/about" ><About /></Route>
      <Route path="/rent/:id" let:params><Rent yachtId={parseInt(params.id)} /></Route>
      <Route path="/succes/:id" let:params><Succes clientId={parseInt(params.id)} /></Route>
  </Router>
</main>

<style lang="less">
  :global(:root) {
    --mobile-screen: 864px;
    --yellow: #ffb703;
    --dark-gray: rgb(105, 105, 105);
    --light-gray: rgb(194, 194, 194);
  }

  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #dbdbdb;
    color: #4e4e4e;
  }
  main {
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }

  :global(body) {
    padding: 0;
    margin: 0 auto;
    font-size: 18px;
    @media (max-width: 500px) {
      font-size: 13px;
    }
  }
</style>
